.content {
    padding: 311px 30px 30px 30px;
    background: #ffffff;
}

.content h1 {
    padding: 0px;
}

.content form {
    margin-right: auto;
    margin-left: auto;
}

.content #registerFields{
     display : grid;
}